{layout '../@layoutAdmin.latte'}

{define content}

<div class="pb-3 pt-3 px-2">
<h1>Nový graf</h1>
</div>

{control viewForm}

<div class="px-2 pb-2">
    <a n:href="View:views" class="btn btn-outline-primary btn-sm" role="button">Zpět beze změn</a>
</div>


{/define}
