/server/tester/*.html
/server/tester/*.log
/netatmo_import/dist
/netatmo_import/log
/netatmo_import/data
/MCU/v43z-test-suite3/.vscode
/MCU/v43d-espcam_a_DS18B20/.vscode
/MCU/v43d-espcam/.vscode
/MCU/v43c-impulse_gas_meter/.vscode
/MCU/v50z-test-suite3/.vscode
/MCU/Meteo_v01/.vscode
/MCU/v50a-demo-power_always_on/.vscode
/MCU/v50b-low_power-DS18B20__ESP32/.vscode
/MCU/v50b-low_power-DS18B20__ESP8266/.vscode
/MCU/v50c-impulse_gas_meter/.vscode
/MCU/v50d-espcam/.vscode
/MCU/v50d-espcam_a_DS18B20/.vscode
/MCU/v50z-test-suite4/.vscode
/MCU/v50z-test-suite5/.vscode
