/MCU/v43d-espcam/.vscode
/MCU/v43d-espcam_a_DS18B20/.vscode
/MCU/v43b-low_power-DS18B20__ESP32/.vscode
/MCU/v43b-low_power-DS18B20__ESP8266/.vscode
/MCU/v43a-demo-power_always_on/.vscode
/MCU/v43c-impulse_gas_meter/.vscode
