{layout '../@layoutAdmin.latte'}

{define content}

<div class="pb-3 pt-3 px-2">
<h1>Uživatel {$name}</h1>

{control userForm}

</div>

<div class="row px-2  pt-3">
    <div class="col-12">
        <a n:href="User:show $id" class="btn btn-outline-primary btn-sm" role="button">Zpět beze změny</a>
        <a n:href="User:delete $id" class="btn btn-outline-danger btn-sm" role="button">Smazat uživatele</a>
    </div>
</div>


{/define}
