{layout '../@layoutAdmin.latte'}

{define content}

<div class="pb-3 pt-3 px-2">
<h1>Editace datové řady</h1>
</div>

<div class="px-2 pb-2">
    {control vitemForm}
</div>

<div class="px-2 pb-2">
    <a n:href="View:edit $viewId" class="btn btn-outline-primary btn-sm" role="button">Zpět beze změn</a>
</div>


{/define}
