parameters:
	# Heslo, kterým se šifrují hesla zařízení. Pozor, pokud ho změníte, přijdete o nastavená hesla!
	masterPassword: 'heslo pro data'
	# jen pro informaci u grafů
	dataRetentionDays: 90
	title: 'RatatoskrIoT'
	# jen pro informaci u grafů
	minYear: 2006
	# e-mail adresa, ktera se nastavuje jako odesilatel notifikacnim mailum
	from: 'mojeIoT@gmail.com'
	# e-mail adresa administratora systemu - adresáta upozornění
	admin: 'admin.adresa@example.com'
	# linky v paticce stranky
	links:
		- {
			name: 'Github'
			link: 'https://github.com/petrbrouzda/RatatoskrIoT'
		}
		- {
			name: 'Domů'
			link: 'https://lovecka.info/' 
		}
    # z jakych adres smi byt spusten cron
	cronAllowed:
		- 127.0.0.1
		- 192.168.32.242

database:
	dsn: 'mysql:host=127.0.0.1;dbname=ratatoskr'
	user: uzivatel-db
	password: heslo-db

# pozor, u gmailu je treba nastavit povoleni posilani mailu z aplikaci (snizit zabezpeceni)
mail:
	smtp: true       
	host: smtp.gmail.com
	port: 465
	username: mojeIoT@gmail.com
	password: prihlasovaci-heslo
	timeout: 60
	secure: ssl

services:
	# --- konfigurace pluginu ---
	
	# 1) Pokud chcete vsechny vznikle zaznamy replikovat do jineho systemu, definujte plugin, ktery to bude resit.
	# Odkomentujte nasledujici radek a zmente tam jmeno classu. A zajistete spousteni jobu crontask/export
	#
	# exportPlugin: App\Plugins\DemoExportPlugin

	# 2) Pokud chcete vytvaret timelapse z obrazku, pak odkomentujte nasledujici sekci. Parametry pluginu jsou:
	# - jmeno timelapse
	# - device ID
	# - cas od v ramci kazdeho dne (pro cely den dejte 00:00)
	# - cas do v ramci kazdeho dne (pro cely den dejte 24:00)
	# - minimalni casovy odstup snimku v minutach.
	# 
	# Plugin generuje ucelenou řadu obrázků:
	#   	data/_timelapse/YYYY-MM-DD_hh-mm-ss_deviceId_description.jpg
	# 
	# Aby se to spustilo, zajistete spousteni jobu crontask/export
	#
	# Exportu muzete mit vice, opakujte celou sekci "timelapse1" a pojmenujte ji napr. timelapse2 
	#
	# timelapse1:
	#	factory: App\Plugins\ImageTimelapse( 'lapse1', 13, '10:00', '14:00', 30 )
	#	autowired: false
